---
import Layout from '../layouts/BlogPost.astro'
import SkillTag from '../components/SkillTag.astro'

const skillSet = [
	{ Name: 'Git', Years: '5+' },
	{ Name: 'Terraform', Years: '5+' },
	{ Name: 'AWS', Years: '5+' },
	{ Name: 'アジャイル開発/スクラム', Years: '5+' },
	{ Name: 'CI/CD', Years: '5+' },
	{ Name: 'GitHub Actions', Years: '3+' },
	{ Name: 'Serverless', Years: '3+' },
	{ Name: 'TypeScript', Years: '3+' },
	{ Name: 'React', Years: '3+' },
	{ Name: 'Next.js', Years: '3+' },
	{ Name: 'Container', Years: '3+' },
	{ Name: 'Test Driven Development', Years: '3+' },
	{ Name: 'Go', Years: '3+' },
	{ Name: 'Kotlin', Years: '1+' },
	{ Name: 'Swift', Years: '1+' }
]
---

<Layout
	title="About Me"
	description="Self Introduction"
	pubDate={new Date('February 29 2024')}
	heroImage="/yamamori-rice.jpg"
>
	<h4 class="font-bold">略歴</h4>
	<p>
		2014年新卒で国内通信事業者に入社しました。法人事業でのSEに従事した後、開発部門へ異動、Home IoT系サービスのプロダクト開発・運用を行っていました。
		アジャイル開発/スクラムを実践していて、モブプログラミングも盛んなチームだったのでインフラ、バックエンド、スマートフォンネイティブアプリまで幅広くコーディングをしていました。
		個人的にはインフラやバックエンドが主な技術スタックかなと思っています。ただ、あまり好き嫌いはなく、技術スタックを絞った開発スタイルからは縁遠い気がします。
		その後、2021年より外資系クラウドコンピューティング企業に転職しました。
		内製化やアジャイル開発をしたいお客様の開発チームにジョインして、モブプログラミングを通して一緒に開発を行ったり、アジャイルコーチ的なことをしていたりしました。
		ここでも技術スタックにとらわれず、お客様やプロダクトに対して必要なことに取り組むことをモットーとしていました。
	</p>

	<h4 class="font-bold">スキルセット</h4>
	<p>
		<SkillTag skillSet={skillSet} />
	</p>

	<h4 class="font-bold">外部登壇</h4>
	<ul>
		<li>【ブログ】<a href="https://aws.amazon.com/jp/builders-flash/202209/master-asynchronous-execution-04/?awsf.filter-name=*all" target="_blank">非同期処理を使いこなそう! -第4回 非同期処理の設計上の検討ポイント</a></li>
		<li>【Youtube】<a href="https://www.youtube.com/watch?v=i7msA8Iq4j4" target="_blank">T5-2: サーバーレスサービスを活用した非同期処理のはじめの一歩</a></li>
	</ul>

</Layout>
