---
import Layout from '../layouts/BlogPost.astro'
import SkillGrade from '../components/SkillGrade.astro'
import '../styles/content.css'

const skillSet= [
	{ name: 'Git', grade: 3, years: 5 },
	{ name: 'AWS', grade: 4, years: 5 },
	{ name: 'Terraform', grade: 4, years: 5 },
	{ name: 'Agile/Scrum', grade: 4, years: 5 },
	{ name: 'CI/CD', grade: 4, years: 5 },
	{ name: 'GitHub Actions', grade: 3, years: 3 },
	{ name: 'Serverless Architect', grade: 4, years: 5 },
	{ name: 'TypeScript', grade: 3, years: 3},
	{ name: 'React', grade: 3, years: 3 },
	{ name: 'Next.js', grade: 3, years: 3 },
	{ name: 'Container', grade: 3, years: 5 },
	{ name: 'TDD', grade: 3, years: 3 },
	{ name: 'Go', grade: 2, years: 2 },
	{ name: 'Kotlin', grade: 1, years: 1 },
	{ name: 'Swift', grade: 1, years: 1 },
	{ name: 'Python', grade: 2, years: 3 },
]
---

<Layout
	title="About Me"
	description="Self Introduction"
	pubDate={new Date('February 29 2024')}
	updatedDate={new Date('March 1 2024')}
	heroImage="/src/content/assets/hero-images/yamamori-rice.jpg"
>
	<h1>Overview</h1>
	<p>
		2014年新卒で国内通信事業者に入社しました。法人事業でのSEに従事した後、開発部門へ異動、Home IoT系サービスのプロダクト開発・運用を行っていました。
		アジャイル開発/スクラムを実践していて、モブプログラミングも盛んなチームだったのでインフラ、バックエンド、スマートフォンネイティブアプリまで幅広くコーディングをしていました。
		個人的にはインフラやバックエンドが主な技術スタックかなと思っています。ただ、あまり好き嫌いはなく、技術スタックを絞った開発スタイルからは縁遠い気がします。
		その後、2021年より外資系クラウドコンピューティング企業に転職しました。
		内製化やアジャイル開発をしたいお客様の開発チームにジョインして、モブプログラミングを通して一緒に開発を行ったり、アジャイルコーチ的なことをしていたりしました。
		ここでも技術スタックにとらわれず、お客様やプロダクトに対して必要なことに取り組むことをモットーとしていました。
	</p>

	<h1>Tech Stack</h1>
	<div class="flex flex-wrap gap-3 justify-center items-center">
		{skillSet && skillSet.sort((a, b) => b.grade - a.grade).map((skill) => (
			<div class="w-[320px] max-md:w-full">
				<SkillGrade name={skill.name} grade={skill.grade} years={skill.years} />
			</div>
		))}
	</div>

	<h1>External</h1>
	<ul class="mb-4">
		<li>【ブログ】<a href="https://aws.amazon.com/jp/builders-flash/202209/master-asynchronous-execution-04/?awsf.filter-name=*all" target="_blank">非同期処理を使いこなそう! -第4回 非同期処理の設計上の検討ポイント</a></li>
		<li>【Youtube】<a href="https://www.youtube.com/watch?v=i7msA8Iq4j4" target="_blank">T5-2: サーバーレスサービスを活用した非同期処理のはじめの一歩</a></li>
	</ul>
</Layout>
