---
import { AUTHOR } from '../consts'
const today = new Date()
---

<footer class="pt-5 pr-1 pb-6 pl-1 bg-gray-200 text-center text-gray-500 text-base">
	&copy; {today.getFullYear()} {AUTHOR}. All rights reserved.
	<div class="social-links flex justify-center gap-3 mt-1">
		<a class="text-gray-500 no-underline hover:text-current"
			 href="https://www.linkedin.com/in/yuta-yamamori-786883175/" target="_blank">
			<span class="i-ri-linkedin-fill w-7 h-7">My Profile on LinkedIn</span>
		</a>
		<a class="text-gray-500 no-underline hover:text-current" href="https://twitter.com/9yamamo9" target="_blank">
			<span class="i-ri-twitter-x-fill w-7 h-7">Follow My X Account</span>
		</a>
		<a class="text-gray-500 no-underline hover:text-current" href="https://github.com/9yamamo9/mountain-blog-astro"
			 target="_blank">
			<span class="i-ri-github-fill w-7 h-7">Go to this blog's GitHub repository</span>
		</a>
		<a class="text-gray-500 no-underline hover:text-current" href="/rss.xml"
			 target="_blank">
			<span class="i-ri-github-fill w-7 h-7">See RSS Feed</span>
		</a>
	</div>
</footer>
