---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
---

<header class="bg-gray-300 p-3">
	<nav class="flex items-center content-between">
		<p class="text-4xl font-bold"><a class="p-1 text-black hover:text-inherit" href="/">{SITE_TITLE}</a></p>

		<div class="ml-3 flex-1 max-md:text-end">
			<HeaderLink class="px-2 text-lg text-gray-700  hover:text-current" href="/blog/1">blog</HeaderLink>
			<HeaderLink class="px-2 text-lg text-gray-700  hover:text-current" href="/about">About</HeaderLink>
		</div>
		
	</nav>
</header>
