---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
---

<header class="bg-gray-300">
	<nav>
		<h1 class="font-bold text-5xl"><a href="/">{SITE_TITLE}</a></h1>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://www.linkedin.com/in/yuta-yamamori-786883175/" target="_blank">
				<span class="i-ri-linkedin-fill w-9 h-9">My Profile on LinkedIn</span>
			</a>
			<a href="https://twitter.com/9yamamo9" target="_blank">
				<span class="i-ri-twitter-x-fill w-9 h-9">Follow Astro on Twitter</span>
			</a>
			<a href="https://github.com/9yamamo9/mountain-blog-astro" target="_blank">
				<span class="i-ri-github-fill w-9 h-9">Go to this blog's GitHub repository</span>
			</a>
		</div>
	</nav>
</header>
<style>
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav a {
        padding: 1em 0.5em;
        color: var(--black);
        border-bottom: 4px solid transparent;
        text-decoration: none;
    }

    nav a.active {
        text-decoration: none;
        border-bottom-color: var(--accent);
    }

    .social-links,
    .social-links a {
        display: flex;
    }

    @media (max-width: 720px) {
        .social-links {
            display: none;
        }
    }
</style>
