---
import type { ImageMetadata } from 'astro'
import { getCollection } from 'astro:content'
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts'
import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Header.astro'
import Footer from '../../components/Footer.astro'
import PostList from '../../components/PostList.astro'


export async function getStaticPaths() {
	const posts = await getCollection('blog')

	return posts.map((post) => {
		const publishedDateWithYear = post.data.pubDate.getFullYear()

		return { params: { fullYear: publishedDateWithYear } }
	})
}

const params = Astro.params
const images = import.meta.glob<{ default: ImageMetadata }>(`/src/content/assets/hero-images/*.{jpeg,jpg,png,gif}`)

const groupedPostsByFullYear = (await getCollection('blog'))
	.filter((post) => post.data.pubDate.getFullYear().toString() === params.fullYear.toString())
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.map((post) => {
		return { post: post, imagePath: images[post.data.heroImage as string]() }
	})
---

<html lang="ja">
<head>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>

<body>
<Header />
<main class="w-[960px] m-auto px-2 py-4 max-lg:w-full max-md:w-full">
	<h1 class="text-3xl font-bold text-gray-700 mt-4 mb-2">Histories > {groupedPostsByFullYear[0].post.data.pubDate.getFullYear()}</h1>
	<PostList posts={groupedPostsByFullYear} />
</main>
<Footer />
</body>
</html>
